h1 {
	text-decoration: underline;
}
html {
	font-family: Rockwell;
	text-align: center;
	background-image: url("images/epic_background.png");
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}
button {
border:none;
background-color:transparent;
}
button.Up {
	height:80px;
	width:80px;
	background-image: url("images/up.png");
	}
button.Left {
	height:76px;
	width:95px;
	background-image: url("images/left.png");
	}
button.Right {
	height:76px;
	width:95px;
	background-image: url("images/right.png");
	}
button.Down {
	height:80px;
	width:80px;
	background-image: url("images/down.png");
	}
button.Up:active {
	background-image: url("images/up_hover.png");
}
button.Left:active {
	background-image: url("images/left_hover.png");
}
button.Right:active {
	background-image: url("images/right_hover.png");
}
button.Down:active {
	background-image: url("images/down_hover.png");
}

button.Up.activate {
	background-image: url("images/up_hover.png");
}
button.Left.activate {
	background-image: url("images/left_hover.png");
}
button.Right.activate {
	background-image: url("images/right_hover.png");
}
button.Down.activate {
	background-image: url("images/down_hover.png");
}

canvas.wheel {
	display: block;
	margin: auto;
	margin-left: auto;
    margin-right: auto;
	max-width: 50%;
	max-height: 50%;
}